body {
    background-color: #FD7E37;
}
.container {
    margin: 0 auto;
    width: 50%;
    background-color: #ffffff;
    border-radius: 4rem;
    border-color: black;
    border: 1rem;
}
form {
    display: flex;
    display: table-row;
}