h1, h2, h3, h4{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

iframe[iframetag] {
    border: none;

}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
}
.iframe{
   width: 1000px;
}

